body {
    background-size: 100%;
    background-image: url("http://media2.abc15.com/photo/2015/07/07/KNXV%20Natural%20Grocers%20_1436308427854_20996501_ver1.0_640_480.jpg");

}


h1 {
color: hotpink;
}

h3 {
  color: white;
  font-weight: bold;
}

h2 {
  color: white;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: pink;
  font-size: 12px;
}

::-moz-placeholder {
  color: pink;
}

:-ms-input-placeholder {
  color: pink;
};
